[Unit]
Description=NieuwsBot

[Service]
ExecStart=/your/path/to/nieuwsbot/venv/bin/python /your/path/to/nieuwsbot/telegram_utils.py
WorkingDirectory=/your/path/to/nieuwsbot
Restart=always
User=root

[Install]
WantedBy=default.target